<header>
  <img class="logo" routerLink="/" src="assets/img/Star_Wars_Logo_white.png">

  <div id="navbar" class="link-container">
    <div class="link-1">
      <a class="menue-link" routerLink="/">Introduction</a>
    </div>
    <div class="link-1">
      <a class="menue-link" href="#aboutme">About me</a>
    </div>
    <div class="link-1">
      <a class="menue-link" href="#portfolio">Portfolio</a>
    </div>
    <div class="link-1">
      <a class="menue-link" routerLink="/contact">Contact</a>
    </div>
  </div>
</header>
