<div class="detail-view-container">
      <mat-card class="detail-view">
        <div class="info-wrapper">
        <mat-card-title>Details</mat-card-title><br>
        <mat-card-subtitle><b>Name:</b> {{ selectedCharacter.name }}
        </mat-card-subtitle>
        <mat-card-subtitle
        ><b>Mass:</b> {{ selectedCharacter.mass }}
        </mat-card-subtitle>
        <mat-card-subtitle
        ><b>Hair Color:</b>
          {{ selectedCharacter.hair_color }}</mat-card-subtitle
        >
        <mat-card-subtitle
        ><b>Eye Color:</b> {{ selectedCharacter.eye_color }}
        </mat-card-subtitle>
        </div>
        <div class="image-wrapper">
          <img src="{{ characterImage }}" alt=""/>
        </div>
      </mat-card>
  </div>


